.Header {
    background-color: #191919;
    height: 6.25rem;
    width: auto; /* Ensure it takes full width */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align logo and links better */
    padding: 0;
    margin: 0;
}

.Header-logo {
    width: 6.25rem;
    height: 6.25rem;
    object-fit: contain; /* Ensures the image scales properly */
    margin-left: 0.833rem;
}

.Header-links {
margin: 0 0.833rem 0 0;
}

.Header-links ul {
    list-style: none;
    display: flex;
    gap: 2.5rem; 
    margin: 0;
    padding: 0;
    align-items: center;
}

.Header-links {
    color: #f7f7f7;
    font-size: 1.333rem;
    cursor: pointer;
    font-weight: 500;
}

.Sign-up-button {
    color: #101010;
    background-color: #80ff00;
    padding: 0.5rem 1rem;
    border-radius: 0.583rem;
    margin-left: 0.417rem;
}