.Header {
    background-color: #191919;
    height: 75pt;
    width: auto; /* Ensure it takes full width */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align logo and links better */
    padding: 0;
    margin: 0;
}

.Header-logo {
    width: 75pt;
    height: 75pt;
    object-fit: contain; /* Ensures the image scales properly */
    margin-left: 10pt;
}

.Header-links {
margin: 0 20pt 0 0;
}

.Header-links ul {
    list-style: none;
    display: flex;
    gap: 30pt; 
    margin: 0;
    padding: 0;
    align-items: center;
}

.Header-links {
    color: #f7f7f7;
    font-size: 16pt;
    cursor: pointer;
    font-weight: 500;
}

.Sign-up-button {
    color: #101010;
    background-color: #80ff00;
    padding: 8px 16px;
    border-radius: 7pt;
    margin-left: 5pt;
}
